
@media only screen and (max-width: 600px) 
{
   
    *{
        margin: 0;
        box-sizing: border-box;
    }
    body{
        font-family:sans-serif;
        background-color: #FFFFFF;
    }
    .arrow{
        position: absolute;
        margin-left: 65vw;
        margin-top: 9vh;
    }
    .cap{
        position: absolute;
        margin-left: 39vw;
        margin-top: 20vh;
    }
    header{
        height: 5vh;
        margin-top: 3vh;
        margin-left: 4vw;
        display: flex;
        justify-content: space-between;
    }
    .logo{
        font-size: 1.5rem;
        color: #194792;
        font-weight: bold;
        margin-top: -0.15vh;
    }
    nav >a{
        display: none;
       
    }
    .btn{
        background: #194792;
        border-radius: 4rem;
        margin-right: 3rem; 
        font-size: 0.8rem;
        width: 20vw;
       margin-top: -15rem;
        padding: 0.5rem;
        
    }
    .chand-circle{
        position: absolute;
        background-color: #FECB1D;
        border-radius: 100%;
        height: 22%;
        width: 44%;
        margin-top: 8vh;
        margin-left: 11%;
    }
    .chand>img{
        position: absolute;
        height: 26%;
        margin-left: 17%;
        margin-top: 2%;
        
    }
    .tara-circle{
        position: absolute;
        background-color:#F79957;
        border-radius: 50%;
        height: 22%;
        width: 44%;
        margin-top: 29%;
        margin-left: 45%;
    }
    .tara>img{
        position: absolute;
        margin-top: 30%;
        height: 20%;
        margin-left: 57%;
    }
    .d1{
        display: flex;
        flex-direction: column;
        width: 100%;
        
    }
    .d1>div>h1{
        margin-top: -3rem;
        color: #194792;
        margin-bottom: 1rem;
        font-size: 2rem;
        width: 70vw;
        margin-left: -5rem;
        font-family: 'Times New Roman', Times, serif;
    
    }
    .d1>div>p{
        width: 70vw;
        margin-left: -5rem;
    }
    .d1>div>button{
        color: white;
        background-color:#194792 ;
        border-radius: 3rem;
        font-size: 1rem;
        margin-top: 2vh;
        width: 30vw;
        height: 5vh;
        margin-left: -5rem;
    }
        
    
    }
    .d12{
        width: 100%;
        margin-left: 6rem;
        margin-top: 20%;
    }
    .d2{
        margin-top: 17rem;
        text-align: center;
    }
    .d2>h1{
        color: #194792;
        margin-bottom: 1%;
        font-size: 2rem;
        font-family: 'Times New Roman', Times, serif;
    
    }
    .d2>p{
        margin-left: 5%;
        margin-right: 5%;
    }
    .chandtara{
        display: flex;
        margin-right: -400px;
    }
    .c1{
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
    }
    .c12{
        display: flex;
        margin-top: 1rem;
        background-color: #D8E6FF;
        height: 330px;
        margin-left: 5%;
        width: 90%;
        border-radius: 20px;
    }
    .c12>img{
        height: 90%;
        margin-top: 3%;
    }
    .c13{
        background-color: #F5F8FF;
        height: 59vh;
        margin-left: 5%;
        margin-top: 50px;
        border-radius: 20px;
        width: 90%;
        
        
    
    }
    form{
        margin-top: 40px;
        margin-left: 0px;
        font-size: 12px;
        color:#194792;
        text-align: center;
    }
    .btn1{
        background: #194792;
        border-radius: 45.5px;
        font-size: 12px;
        width: 90px;
        color: white;
        height: 30px;
    }
    .submit{
        color: white;
        background-color:#194792 ;
        border-radius: 30px;
        font-size: 15px;
        margin-top: 20px;
        width: 150px;
        height: 50px;
    }
    input{
        background-color:#ECF3FF;
        border: none;
        border-radius: 20px;
        width: 40%;
        height: 25px;
    }
    .user-section{
        margin-top: -90%;
    }
    .e1{
        display: flex;
        justify-content: space-around;
        margin-bottom: 30px;
    }
    .e1>h2{
        font-size: 1rem;
    }
    .card{
        width: 90%;
        height: 30%;
        margin: 5%;
        background-color: #F5F8FF;
        border-radius: 20px;
        padding: 10%;

    }
    .card-container{
        display: flex;
        flex-direction: column;
    }
    .dambaruu{
        display: flex;
        flex-direction: column;
        margin: 50px;
    }
    .f2{
        display: flex;
      
        
    }
    .f2>img{
        margin-top: 20%;
        height: 15vh;
        margin-left: 10%;
    }
    .f1>h2{
        color: #194792;
        font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    }
    .f1>h3{
        color:#3D3D3D;
        font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    }
    .f1>p{
        color:#3D3D3D;
        font-size: 15px;
    }.appstore{
        display: flex;
        color: #194792;
        margin-top: 30px;
        width: 100%;
    }
    .apple{
        display: flex;
        border: 1px solid #7F9BC8;
        width: 100%;
        border-radius: 15px;
        padding: 5px;
        margin-right: 15px;
    }
    .apple-content{
        margin-left: 8px;
    }
    .apple-content>p{
        color: #7F9BC8;
        font-size: 15px;
    }
    .apple-content>h3{
        color: #194792;
        font-size: 0.9rem;
    }
    .client>h1{
        color: #194792;
        margin-bottom: 20px;
    text-align: center;
    font-size: 1.8rem;
    font-family: 'Times New Roman', Times, serif;
    }
    .clients-name>h1{
        color: #194792;
        width: 20%;
        margin-left: 60px;
    }
    .clients-name>h1>span{
        font-size: 23px;
        color: #A4A4A4;
    }
    .clients-wrapper{
        display: flex;
        flex-direction: column;
        
    }
    .clients-card{
        width: 100%;
        margin-left: 50px;
        padding: 5%;
    }
    .clients-card>h1{
        color: #3D3D3D;
    }
    .clients-card>p{
        color: #A4A4A4;
        font-size: 0.8rem;
    }
    .clients-card-wrapper{
        display: flex;
        margin :5%;
        border:1px solid #A4A4A4;
        border-radius: 10px;
    }
    .footer{
        margin-top: 10%;
        padding: 60px;
        background-color:#174792;
        height: 30%;
        width: 100%;
        color: white;
        display: flex;
        flex-direction: column;
    }
    .left{
        
        width: 65%;
        margin-left: 0px;
    }
    .middle{
        margin-left: 0px;
        margin-top: 5%;
    }
    .middle>p{
    margin-top: 10px;
    font-size: 13px;
    }
    .right>div{
        margin-left: 0px;
        margin-bottom: 15px;
        margin-top: 10%;
    }
    span{
        font-size: 15px;
        margin-left: 5px;
    }
    .bottom{
        background-color: #022C6C;
        text-align: center;
        padding: 18px;
        color: white;
        font-size: 12px;
    }
    .icon-social{
        margin: 10px;
        font-size: 32px;
    }

